<div class="container">
  <br>
  <h4 class="story-heading" id="team">Hi-Lite</h4>
  <img class="responsive-img" src="/img/headerIMG.png">
  <br><br><br>
  <div class="container">
  <p class="flow-text">
    Create your own story with Hi-Lite! A single place for your captured moments in words and photos.
    Our AI bot can perform sentiment analysis and generate summaries based on
    the stories you share on here. We believe that people should be able to skim
    through content and understand the post
    without having to read the full article. That is why our AI bot automatically
    generates tldr's and sentiment tags to give a quick overview.
  </p>
</div>

  <br>
  <br>
  <br>
  <br>

</div>
