<div class="container">
  <br>
  <h4 class="section-heading" id="team">Developers</h4>
  <br><br><br>
  <div class="row" style="padding-bottom: 50px">
  <div class="col s12 m6 l6 center ">
      <img src="/img/anthony.jpg" alt="" class="people">
      <h5 class="about-heading flow-text">Anthony Cantellano</h5>
      <h6 class="sub-heading flow-text">Technology Analyst</h6>

      <br>
  </div>
  <div class="col s12 m6 l6" style="padding-bottom: 50px">
    <p class="flow-text">Founder of the Computer Science Club,
      with a growing knowledge of Java and Web Development. Currently an
    incoming Information Technology Analyst at Chevron. </p>

    <div class="center">
      <a href="https://github.com/AcAntellAno" target="_blank" style="color: inherit;">
      <i class="fab fa-4x fa-github-square" style="width: 100px;"></i>
    </a>
    <a href="https://www.linkedin.com/in/anthony-cantellano/" target="_blank" style="color: inherit;">
      <i class="fab fa-4x fa-linkedin"></i>
    </a>
    </div>

  </div>
</div>

<div class="row" style="padding-bottom: 100px">

  <div class="col s12 m6 l6 center" >
      <img class="people" src="/img/john.jpg" alt="">
      <h5 class="about-heading flow-text">John Solo</h5>
      <h6 class="sub-heading flow-text">Computer Science Student</h6>



    </div>
    <div class="col s12 m6 l6">
      <p class="flow-text">Recipient of the National Science Foundation S-Stem grant scholarship.
          Currently the President of the Computer Science Club and aspiring Software Engineer. </p>
          <div class="center">
            <a href="https://github.com/johnsolojoseph" target="_blank" style="color: inherit;">
            <i class="fab fa-4x fa-github-square" style="width: 100px;"></i>
          </a>
          <a href="https://www.linkedin.com/in/johnsolojoseph/" target="_blank" style="color: inherit;">
            <i class="fab fa-4x fa-linkedin"></i>
          </a>
          </div>
    </div>

  </div>

</div>
