
<!--Header -->
<div class="row">
    <div class="col s12 m12 l6">
        <img class="responsive-img" src="/img/headerIMG.jpg" alt="photo">
    </div>

    <div class="col s12 m12 l6 center">
        <h3 class="story-heading">Create your own <br>story</h3>
        <div class="ghost-button">
            <a href="/users/register" class="ghost-button-rounded-corners">Join Now</a>
        </div>
    </div>
</div>

<hr class="line-header">

<!--About Me Text -->
<div class="row container" id="about">
    <div class="col s12 m12 l4 center">
        <i class="material-icons medium">nature_people</i>
        <h5 class="about-heading flow-text">Share your experiences</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <br>
    </div>

    <div class="col s12 m12 l4 center">
        <i class="material-icons medium">book</i>
        <h5 class="about-heading flow-text">Read highlights</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <br>

    </div>


    <div class="col s12 m12 l4 center">
        <i class="material-icons medium">favorite</i>
        <h5 class="about-heading flow-text">Enjoy your stay</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <br>

    </div>

</div>


<!--Meet the team -->
<h4 class="section-heading" id="team">Meet the team</h4>
<br>

<div class="container" id="people">
    <div class="row">
    <div class="col s12 m6 l6 center " style="padding-bottom: 50px" >
        <img src="/img/anthony.jpg" alt="" class="people">
        <h5 class="about-heading flow-text">Anthony Cantellano</h5>
        <h6 class="sub-heading">Full Stack Engineer</h6>
        <p>Founder of the Computer Science Club,
          with a growing knowledge of Java and Web development. Currently an
        incoming IT Business Analyst at a Fortune 500 company. </p>
        <br>
        <a class="social-icons" href="https://www.linkedin.com/in/anthony-cantellano/" target="_blank">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
      <a class="social-icons" href="https://github.com/AcAntellAno" target="_blank">
        <i class="fab fa-github-square fa-3x"></i>
      </a>


    </div>

    <div class="col s12 m6 l6 center" >
        <img class="people" src="/img/john.jpg" alt="">
        <h5 class="about-heading flow-text">John Solo</h5>
        <h6 class="sub-heading">Front-End Developer</h6>
        <p>Recipient of the NSF S-Stem grant scholarship.
            Currently the President of the Computer Science Club and an incoming summer 2019 intern at
            a Fortune 500 company. </p>
            
            <a class="social-icons" href="https://www.linkedin.com/in/johnsolojoseph/" target="_blank">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
          <a class="social-icons" href="https://github.com/johnsolojoseph" target="_blank">
            <i class="fab fa-github-square fa-3x"></i>
          </a>
        <br>


      </div>
  </div>




    </div>


</div>

</div>
