body {
  background-color: #fafafa;
}
nav {
  background-color: rgb(44, 62, 80) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
}

.story-heading {
  color: rgb(44, 62, 80) !important;
  font-weight: bold;
}

.btn-floating.btn-large i {
  background-color: #529ecc !important;
}

.btn {
  background-color: #2c3e50 !important;
}

.about-heading {
  color: rgb(44, 62, 80);
  font-weight: 600;
}

.sub-heading {
  color: rgb(44, 62, 80);
  font-weight: 400;
}

.section-heading {
  color: rgb(44, 62, 80);
  font-weight: 600;
  padding-left: 6%;
}

.line-header {
  width: 90%;
  color: rgb(44, 62, 80); /* old IE */
  background-color: rgb(44, 62, 80); /* Modern Browsers */
}

.line-footer {
  width: 90%;
  color: rgb(130, 141, 152); /* old IE */
  background-color: rgb(130, 141, 152); /* Modern Browsers */
}
.footer-items {
  display:table;
  margin: 0 auto;
}
.footer-items li {
  display: inline;
  color: rgb(130, 141, 152);
}

.footer-items a {
  display: inline;
  font-weight: 600;
  padding: 40px 20px;
  color: rgb(130, 141, 152);
}

.footer-items a:hover {
  display: inline;
  color: rgb(101, 114, 128);
}

#footer {
  padding-bottom: 1%;
}


i.medium {
  color: rgb(44, 62, 80);
}

i.prefix {
  color: #9e9e9e !important;
}

.create-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: white;
  background-color: rgb(44, 62, 80);
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.create-button:hover {
  background-color: #3a5169;
}

.ghost-button {
  padding-top: 7%;
  padding-bottom: 3%;
}

.ghost-button-rounded-corners {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: rgb(44, 62, 80);
  border: 1px solid rgb(44, 62, 80);
  border-radius: 20px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: rgb(44, 62, 80);
  color: #fafafa;
}

#about {
  padding-top: 5%;
  padding-bottom: 5%;
}

#team {
  padding-bottom: 5%;
}

#people {
  padding-bottom: 5%;
}

.people {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.login-form {
  padding-top: 5%;
}

.login-text {
  padding-top: 1%;
  padding-bottom: 1%;
}

div.login-text h2 {
  color: #212121 !important;
}

button.login-button {
  border-radius: 30px;
  box-shadow: none;
  background-color: rgb(44,62,80, 1) !important;
  width: 200px;
  height: 40px;
}



.input-field .prefix.active {
  color: rgb(44,62,80) !important;

}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: rgb(44,62,80) !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=email] {
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

  /* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(44,62,80) !important;
}
  /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=text] {
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: rgb(44,62,80) !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=password] {
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

label.active {
  color: rgb(44,62,80) !important;
}


textarea.valid {
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: rgb(44,62,80) !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid rgb(44,62,80) !important;
     box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
    }

.card-login {
  padding-bottom: 7%;
}

#topBtn {
  display: none;
  background-color: #afb5be !important;
  color:transparent;
}
.tabs {
  background-color: #fafafa !important;
}

.tab a.active {
  color:#1f1e1c !important;;
  background-color:#fafafa!important;
}
.tabs .tab a:hover {
  background-color: #fafafa!important;
  color:#1f1e1c !important;;
}
.tabs .tab a:visited {
  background-color: #fafafa!important;
  color:#1f1e1c !important;;
}

.tabs .tab a {
  color: #1f1e1c !important;
  background-color: #fafafa!important;
}
.tabs .indicator{
  background-color:#2f353c !important;;
}

i.small {
  color: #757575 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #757575 !important;
}

.edit-buttons-container {
  padding: 5% 0 2% 0;
}

.delete-btn {
  color: #f44336;
  background-color: transparent;
  text-align: center;
  padding-top: 15px;
  padding-left: 17px;
  border: none;
  background: none;
}

.delete-btn:active {
  background-color: transparent;
  outline:none;
}

.delete-btn:focus{
  background-color:transparent;
   border-color: transparent;
outline: none;
}

.details {
  word-wrap: break-word;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}
.fa-3x {
  padding-right: 8px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.social-icons {
  color: inherit;
}

.login-logo {
  height: 500px;
  width: 500px;
}

.create-logo {
  height: 200px;
  width: 200px;
}

.button-spacing {
  padding-top: 3%;
  padding-bottom: 2%;
}

#footer {
bottom: 0;
position: fixed;
}
