
nav {
  background-color: rgb(44, 62, 80) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
}

.story-heading {
  color: rgb(44, 62, 80) !important;
  font-weight: bold;
}

.btn-floating.btn-large i {
  background-color: #529ecc !important;
}

.btn {
  background-color: #2c3e50 !important;
}

.about-heading {
  color: rgb(44, 62, 80);
  font-weight: 600;
}

.sub-heading {
  color: rgb(44, 62, 80);
  font-weight: 400;
}

.section-heading {
  color: rgb(44, 62, 80);
  font-weight: 600;
  padding-left: 6%;
}

.line-header {
  width: 90%;
  color: rgb(44, 62, 80); /* old IE */
  background-color: rgb(44, 62, 80); /* Modern Browsers */
}

.line-footer {
  width: 90%;
  color: rgb(130, 141, 152); /* old IE */
  background-color: rgb(130, 141, 152); /* Modern Browsers */
}
.footer-items {
  display:table;
  margin: 0 auto;
}
.footer-items li {
  display: inline;
  color: rgb(130, 141, 152);
}

.footer-items a {
  display: inline;
  font-weight: 600;
  padding: 40px 20px;
  color: rgb(130, 141, 152);
}

.footer-items a:hover {
  display: inline;
  color: rgb(101, 114, 128);
}

#footer {
  padding-bottom: 1%;
}


i.medium {
  color: rgb(44, 62, 80);
}

i.prefix {
  color: #9e9e9e !important;
}

.ghost-button {
  padding-top: 7%;
  padding-bottom: 3%;
}


.ghost-button-rounded-corners {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: rgb(44, 62, 80);
  border: 1px solid rgb(44, 62, 80);
  border-radius: 20px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: rgb(44, 62, 80);
  color: #fff;
}

#about {
  padding-top: 5%;
  padding-bottom: 5%;
}

#team {
  padding-bottom: 5%;
}

#people {
  padding-bottom: 5%;
}

.people {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.login-form {
  padding-top: 5%;
}

.login-text {
  padding-top: 1%;
  padding-bottom: 1%;
}

div.login-text h2 {
  color: #212121 !important;
}

button.login-button {
  border-radius: 30px;
  box-shadow: none;
  background-color: rgb(44,62,80, 1) !important;
  width: 200px;
  height: 40px;
}



.input-field .prefix.active {
  color: rgb(44,62,80) !important;

}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: rgb(44,62,80) !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=email] {
  color: rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

  /* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(44,62,80) !important;
}
  /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=text] {
  color: rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: rgb(44,62,80) !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
}

input.valid[type=password] {
  color: rgb(44,62,80) !important;
  box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
  border-bottom: 1px solid rgb(44,62,80) !important;
}

/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: rgb(44,62,80) !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid rgb(44,62,80) !important;
     box-shadow: 0 1px 0 0 rgb(44,62,80) !important;
    }

.card-login {
  padding-bottom: 7%;
}

#topBtn {
  display: none;
  background-color: #afb5be !important;
  color:transparent;
}

.tab a.active {
  color:#2f353c !important;;
  background-color:transparent!important;
}
.tabs .tab a:hover {
  background-color: transparent!important;
  color:#2f353c !important;;
}
.tabs .tab a:visited {
  background-color: transparent!important;
  color:#2f353c !important;;
}

.tabs .tab a {
  color: #2f353c !important;
  background-color: transparent!important;
}
.tabs .indicator{
  background-color:#2f353c !important;;
}
