<div class="container">

  <br>
    <div class="card-login">
    <div class="card">
    <div class="login-text center">
      <h2>Get Started</h2>
      </div>
      <div class="row">
          <div class="container login-form">
          <form action="/users/register" method="POST" class="col s12">


            <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" value="{{email}}" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Please include an @ in the email address."></span>
                  </div>
                </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" name="password" value="{{password}}" class="validate" required>
                <span class="helper-text" data-error="Invalid Password"></span>
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password2" name="password2" type="password" value="{{password2}}"class="validate" required>
                <span class="helper-text" data-error="Invalid Password"></span>
                <label for="password2">Confirm Password</label>
              </div>
            </div>
              <div class="center">
              <button type="submit" class="waves-effect waves-light btn login-button">Register</button>
            </div>
              <br>
              <br>

        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
